/* Styles a custom navbar with a gradient background, border, shadow, and opacity */
.custom-navbar {
    background: linear-gradient(to right, #00356B, mediumblue);
    border-bottom: 2px solid black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
}

/* Adds a 10px margin to a custom navbar brand */
.custom-navbar-brand {
    margin: 10px;
}

/* Styles a custom navbar title with white text and bold font */
.custom-navbar-title {
    color: white;
    font-weight: bold;
}

/* Styles custom navigation links with white text and 18px font size */
.custom-nav-link {
    color: white;
    font-size: 18px;
}

/* Sets the background of the projects body section to whitesmoke */
.projects-body {
    background: whitesmoke;
}

/* This CSS class sets a margin of 10 pixels around elements with the class "projects-wip" */
.projects-text {
    margin: 20px;
}

.projects-image {
    /* Set margins to create spacing around the image */
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    
    /* Float the image to the right */
    float: right;
    
    /* Set the image width to fill its container, while preserving its aspect ratio */
    max-width: 100%;
    height: auto;
    
    /* Add a border to the image */
    border: 2px solid #000000;
    border-radius: 10px;
    
    /* Add a subtle box shadow to give the image some depth */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
