/* Styles a custom navbar with a gradient background, border, shadow, and opacity */
.custom-navbar {
    background: linear-gradient(to right, #00356B, mediumblue);
    border-bottom: 2px solid black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
}

/* Adds a 10px margin to a custom navbar brand */
.custom-navbar-brand {
    margin: 10px;
}

/* Styles a custom navbar title with white text and bold font */
.custom-navbar-title {
    color: white;
    font-weight: bold;
}

/* Styles custom navigation links with white text and 18px font size */
.custom-nav-link {
    color: white;
    font-size: 18px;
}

/* Sets the background of the resume body section to whitesmoke */
.resume-body {
    background: whitesmoke;
}

/* This CSS class sets a margin of 10 pixels around elements with the class "resume-wip" */
.resume-wip {
    margin: 10px;
}